body{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #412F64;
}

h1{
    color: #339CFF; 
}

form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

p{
    text-align: center;
}

 .poop {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	background-color: #412F64;
	font-family: 'Open Sans';
}

.poop,.poop:before, .poop:after {
	box-sizing: content-box;
	transform: translate3d(0, 0, 0);
}

.face {
	width: 300px;
	height: 300px;
	border: 4px solid #383A41;
	border-radius: 10px;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 100px;
	
	@media screen and (max-width: 400px) {
		margin-top: 40px;
    	transform: scale(.8);
  	}
}
	.band {
		width: 350px;
		height: 27px;
		border: 4px solid #383A41;
		border-radius: 5px;
		margin-left: -25px;
		margin-top: 50px;
    }
		
		.red {
			height: calc(100% / 3);
			width: 100%;
			background-color: #DBCBD8;
		}
		
		.white {
			height: calc(100% / 3);
			width: 100%;
			background-color: #F2FDFF;
		}
		
		.blue {
			height: calc(100% / 3);
			width: 100%;
			background-color: #9AD4D6;
		}
		
		.band:before {
			content: "";
			display: inline-block;
			height: 27px;
			width: 30px;
			background-color: rgba(#FFFFFF,0.3);
			position: absolute;	
			z-index: 999;
		}
		
		.band:after {
			content: "";
			display: inline-block;
			height: 27px;
			width: 30px;
			background-color: rgba(#383A41,0.3);
			position: absolute;	
			z-index: 999;
			right: 0;
			margin-top: -27px;
		}
	
	.eyes {
		width: 128px;
		margin: 0 auto;
		margin-top: 40px;
    }
		
		.eyes:before {
			content: "";
			display: inline-block;
			width: 30px;
			height: 15px;
			border: 7px solid #383A41;
			margin-right: 20px; 
			border-top-left-radius: 22px;
    		border-top-right-radius: 22px;
			border-bottom: 0;
		}
		
		.eyes:after {
			content: "";
			display: inline-block;
			width: 30px;
			height: 15px;
			border: 7px solid #383A41;
			margin-left: 20px;
			border-top-left-radius: 22px;
    		border-top-right-radius: 22px;
			border-bottom: 0;
		}
	
	
	.dimples {
		width: 180px;
		margin: 0 auto;
		margin-top: 15px;
    }
		
		.dimples:before {
			content: "";
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-right: 80px; 
			border-radius: 50%;
			background-color: rgba(#EB6D6D,0.4);
		}
		
		.dimples:after {
			content: "";
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-left: 80px;
			border-radius: 50%;
			background-color: rgba(#EB6D6D,0.4);
		}
	
	
	.mouth {
		width: 40px;
		height: 5px;
		border-radius: 5px;
		background-color: #383A41;
		margin: 0 auto;
		margin-top: 25px;
	}


.poopheading {
	font-weight: 800;
	color: #383A41;
	text-align: center;
	font-size: 2.5em;
	padding-top: 20px;
	
	@media screen and (max-width: 400px) {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 2em;
  	}
}

.btn {
	font-family: "Open Sans";
	font-weight: 400;
	padding: 20px;
	background-color: rgba(#5E7FDC,1.0);
	color: white;
	width: 320px;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
	border-radius: 5px;
	cursor: pointer; 
	margin-top: 80px;
	margin-bottom: 50px;
	transition: all .2s linear;
	
	@media screen and (max-width: 400px) {
		margin: 0 auto;
		margin-top: 60px;
		margin-bottom: 50px;
    	width: 200px;
  	}}
	
	.btn:hover {
		background-color: rgba(#5E7FDC,0.8);
		transition: all .2s linear;
	}
